<?xml version="1.0"?>
<config>
    <modules>
        <Learning_Domain>
            <version>0.1.0</version>
        </Learning_Domain>
    </modules>
    <global>
        <helpers>
            <learning_domain>
                <class>Learning_Domain_Helper</class>
            </learning_domain>
        </helpers>
        <blocks>
            <learning_domain>
                <class>Learning_Domain_Block</class>
            </learning_domain>
        </blocks>
        <models>
            <learning_domain>
                <class>Learning_Domain_Model</class>
                <!--Ressource model => interragit avec la bdd !-->
                <resourceModel>learning_domain_resource</resourceModel>
            </learning_domain>
            <learning_domain_resource>
                <class>Learning_Domain_Model_Resource</class>
                <entities>
                    <domain>
                        <table>learning_domain_domain</table>
                    </domain>
                </entities>
            </learning_domain_resource>
        </models>
        <resources>
            <learning_domain_setup>
                <setup>
                    <module>Learning_Domain</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </learning_domain_setup>
            <learning_domain_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </learning_domain_write>
            <learning_domain_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </learning_domain_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <learning_domain>
                <use>standard</use>
                <args>
                    <module>Learning_Domain</module>
                    <frontName>domain</frontName>
                </args>
            </learning_domain>
        </routers>
        <layout>
            <updates>
                <learning_domain>
                    <file>learning/domain.xml</file>
                </learning_domain>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Learning_Domain_Adminhtml before="Mage_Adminhtml">Learning_Domain_Adminhtml</Learning_Domain_Adminhtml>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <learning_domain>
                    <files>
                        <default>Learning_Domain.csv</default>
                    </files>
                </learning_domain>
            </modules>
        </translate>
        <layout>
            <updates>
                <learning_domain>
                    <file>learning_domain/learning_domain.xml</file>
                </learning_domain>
            </updates>
        </layout>
    </adminhtml>
</config>