<?xml version="1.0"?>
<config>
    <modules>
        <Learning_Slider>
            <version>0.1.0</version>
        </Learning_Slider>
    </modules>
    <global>
        <helpers>
            <learning_slider>
                <class>Learning_Slider_Helper</class>
            </learning_slider>
        </helpers>
        <blocks>
            <learning_slider>
                <class>Learning_Slider_Block</class>
            </learning_slider>
        </blocks>
        <models>
            <learning_slider>
                <class>Learning_Slider_Model</class>
                <resourceModel>learning_slider_resource</resourceModel>
            </learning_slider>
            <learning_slider_resource>
                <class>Learning_Slider_Model_Resource</class>
                <entities>
                    <slide>
                        <table>learning_slider_slide</table>
                    </slide>
                </entities>
            </learning_slider_resource>
        </models>
        <resources>
            <learning_slider_setup>
                <setup>
                    <module>Learning_Slider</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </learning_slider_setup>
            <learning_slider_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </learning_slider_write>
            <learning_slider_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </learning_slider_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <learning_slider>
                <use>standard</use>
                <args>
                    <module>Learning_Slider</module>
                    <frontName>slider</frontName>
                </args>
            </learning_slider>
        </routers>
        <layout>
            <updates>
                <learning_slider>
                    <file>learning/slider.xml</file>
                </learning_slider>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Learning_Slider_Adminhtml before="Mage_Adminhtml">Learning_Slider_Adminhtml</Learning_Slider_Adminhtml>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <learning_slider>
                    <files>
                        <default>Learning_Slider.csv</default>
                    </files>
                </learning_slider>
            </modules>
        </translate>
        <layout>
            <updates>
                <learning_slider>
                    <file>learning_slider/learning_slider.xml</file>
                </learning_slider>
            </updates>
        </layout>
    </adminhtml>
</config>